extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do #[b NOT] post or request anything illegal in the United States.
					p.rule-clarification Pedophilic content and beastiality is not permitted on our site.
					p 2. Do #[b NOT] post NSFW.
					p.rule-clarification This rule mostly applies to pornographic content or imagery. By using the site, you agree that you will refrain from posting such content.
					p.rule-clarification All variations of gore are prohibited, unless it is a drawing depicting "boykisser" getting his head chopped off.
					p.rule-clarification If we feel as if you are posting content that attempts to circumnavigate rules for NSFW with softcore & fetishism it may be grounds for deletion, bans, etc.
					p 3. Do #[b NOT] spam.
					p 4. Do #[b NOT] advocate for pedophilia or zoophilia.
					p 5. This site is intended for users 18+.
					p.rule-clarification This is a website intended for adults who do not wish to see pornography. If you are underage, your access to the site will be removed until you are of the appropriate age.
					p 6. Do #[b NOT] advertise crypto, imageboards or Discord servers.
					p.rule-clarification You may discuss other imageboards using their nicknames, e.g "The Sharty" but directly linking them is not permitted. Mentioning anthro.foo by name is the primary exception to this rule.
					p Trolling and baiting is heavily encouraged.

	h1.board-title Moderation Guidelines
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 1. A permanent ban and deletion of offending content.
					p 2. A week long ban and deletion of offending content.
					p 3. A 1 day ban and deletion of spam posts.
					p 4. A permanent ban with a chance to appeal.
					p 5. For as long as the user is underage.
					p 6. Deletion of post or removal / redaction of links using Edit. If advertisement is spammed, then punish under the rule for spam.
					.edited
						| If you believe a ban is false, appeal it. If you feel your appeals are
						| wrongly denied reach the Admin by email, see 
						| <a href="/faq.html">faq</a>.
						| #[b However], if your email is nonsense that is the end of it.
