extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do #[b NOT] post or request anything illegal in the United States.
					p.rule-clarification Pedophilic content and beastiality is not permitted on our site.
					p 2. Do #[b NOT] post NSFW.
					p.rule-clarification This rule mostly applies to pornographic content or imagery. By using the site, you agree that you will refrain from posting such content.
					p.rule-clarification Images and videos of real gore, not drawings, are prohibited aswell.
					p 3. Do #[b NOT] spam.
					p 4. Do #[b NOT] advocate for pedophilia or zoophilia.
					p 5. This site is intended for users 16+, if you are under that age, you will be banned from the site until you become 16.
					p.rule-clarification Content or discussion on the site should remain SFW, this is not an adult website.

	h1.board-title Moderation Guidelines
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 1. A permanent ban and deletion of offending content.
					p 2. A week long ban and deletion of offending content.
					p 3. A 1 day ban and deletion of spam posts.
					p 4. A permanent ban with a chance to appeal.
					p 5. For as long as the user is underage.
					.edited
						| If you believe a ban is false, appeal it. If you feel your appeals are
						| wrongly denied reach the Admin by email, see 
						| <a href="/faq.html">faq</a>.
						| #[b However], if your email is nonsense that is the end of it.
