extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do NOT post or request anything illegal in the United States.
					p 2. Do NOT promote pedophilia, zoophilia, and zoosadism.
					p 3. Do NOT post NSFW.
					p 4. Do NOT spam to disrupt.
					p 5. Do NOT act hostile to the site.
					p 6. Saying ANYTHING negative about black anthro women is forbidden.
					p 7. Calling averi flat is forbidden.

	h1.board-title Moderation Guidelines
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 1. is a permanent ban with <b>no appeal</b>.
					p 2. is a permanent ban.
					p 3. is a 1 day ban with escalation for repeated offense.
					p 4. is a 4 hour ban <b>with no appeal</b>.
					p 5. is a 1 day ban OR permananet ban at staff discretion.
					p 6. is a 1 minute ban with <b>no appeal</b>.
					p 7. is a 1 minute ban with <b>no appeal</b>.
					p
						| If you believe a ban is false, appeal it, if you are unable to appeal 
						| but have reason to believe it is wrong reach the Admin by email, see 
						| <a href="/faq.html">faq</a>. <b>However</b>, if your email is 
						| nonsense you will be put on spam list and that will be the end.
