extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do #[b NOT] post or request anything illegal in the United States.
					p.rule-clarification Pedophilic content and beastiality is not permitted on our site.
					p 2. Do #[b NOT] post or request NSFW, lewds, suggestive art or pornography.
					p.rule-clarification This rule mostly applies to pornographic content or imagery. By using the site, you agree that you will refrain from posting such content.
					p.rule-clarification IRL Gore and DNB is prohibited.
					p.rule-clarification If we feel as if you are posting content that attempts to circumnavigate rules for NSFW with softcore & fetishism it may be grounds for deletion, bans, etc.
					p 3. Do #[b NOT] spam.
					p 4. Do #[b NOT] advocate for pedophilia or zoophilia.
					p 5. This site is intended for users #[b 18+].
					p.rule-clarification The content served on this website is not sexual or pornographic, but certain language and mannerisms used by our members may be considered offensive and inappropriate. By using this site, we assume you are of an appropriate age and mind to understand the ramifications of trolling and offensive language.
					p.rule-clarification This is not a pornographic or suggestive "adult website"
					p 6. Do #[b NOT] advertise crypto, imageboards or Discord servers.
					p.rule-clarification You may discuss other imageboards using their nicknames, e.g "The Sharty" but directly linking them is not permitted.
					p Trolling and baiting is heavily encouraged.
					p HMOFA and Romance posts are not banned but are discouraged, this site is hostile towards HMOFA posters.

	h1.board-title Moderation Guidelines
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 1. A permanent ban and deletion of offending content.
					p 2. A week long ban and deletion of offending content.
					p 3. A 1 day ban and deletion of spam posts.
					p 4. A permanent ban with a chance to appeal.
					p 5. If you have significant proof that the user is underage, ban the user for as long as the user is underage.
					p 6. Deletion of post or removal / redaction of links using Edit. If advertisement is spammed, then punish under the rule for spam.
					.edited
						| If you believe a ban is false, appeal it. If you feel your appeals are
						| wrongly denied reach the Admin by email, see 
						| <a href="/faq.html">faq</a>.
						| #[b However], if your email is nonsense that is the end of it.
	h1.board-title Legal Disclaimers
	.table-container.flex-center.mv-10
		table
			tr
				td
					p This site is a fan website that is in no way affiliated with or endorsed by Fiddleafox.
					p All posts are owned by the posters. All posts and images uploaded to the site are of the sole legal responsibility of the poster/uploader.
