extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do not post, request, link anything illegal in the United States
					p 2. Do not promote pedophilia, zoophilia, and zoosadism
					p 3. Do not post NSFW
					p 4. Do not spam
					p 5. Do not be hostile to this site
