unless minimal
	nav.navbar
		a.nav-item(href='/index.html')
			img(class='navbar-img' src='/file/home.png')
		a(href='/boards.html' class=`nav-item ${enableWebring ? 'short-nav' : ''}`)
			img(class='navbar-img' src='/file/boards.png')
			if enableWebring
				.rainbow +Webring
		a.nav-item#overboardlink(href='/overboard.html')
			img(class='navbar-img' src='/file/overboard.png')
		a.nav-item(href='/account.html')
			img(class='navbar-img' src='/file/account.png')
		if !modview && board
			a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`)
				img(class='navbar-img' src='/file/manage.png')
		a.jsonly.nav-item.right#settings(data-label=(__('')))
			img(class='navbar-img' src='/file/settings.png')
